/*1er greedy*/
.gridyHeaderInscription{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "title inscriptionTitle .";
    grid-row-gap: 50px;
}

#title{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: title;
}

#inscriptionTitle{
    text-align: center;
    grid-area: inscriptionTitle;
    font-size: 30px;
}


/*Autre gridy*/

#gridyOptionsModifications{
    margin-top:5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "action choixContenu validateModificationHeader";
    grid-column-gap: 5px;
}

#action{
    grid-area: action;
}

#choixContenu{
    grid-area: choixContenu;
}

#actionL{
    grid-area: actionL;
}

#choixContenuL{
    grid-area: choixContenuL;
}

#validateModificationHeader{
    grid-area: validateModificationHeader;
}

#gridyModifierSupprimer{
    margin-top:5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            " rechercherPar champsSelectModifierSupprimer fieldModifierSupprimer"
            ". validateModifierSupprimer .";
    grid-column-gap: 5px;
    grid-row-gap: 15px;
}

#rechercherPar{
    grid-area: rechercherPar;
}

#champsSelectModifierSupprimer{
    grid-area: champsSelectModifierSupprimer;
}

#fieldModifierSupprimer{
    grid-area: fieldModifierSupprimer;
}

#validateModifierSupprimer{
    grid-area: validateModifierSupprimer;
}

/*Rsultat table list de musique*/

.musicListResult{
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 10px;
    background-color: inherit;
    border-collapse: collapse;
    cell-spacing: 10px;
}

.radioListResult{
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 10px;
    background-color: inherit;
    border-collapse: collapse;
    cell-spacing: 10px;
}

.podcastListResult{
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 10px;
    background-color: inherit;
    border-collapse: collapse;
    cell-spacing: 10px;
}

.headColumns{
    background-color: mediumslateblue;
    padding-right: 15px;
}

.rowTableStyle0{
    background-color: #aaaaaa;
}

.rowTableStyle1{
    background-color: dimgrey;
}

.errorMsgResearchClient{
    background-color: darkslateblue;
    font-weight: bold;
    color: aliceblue;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border: 8px solid mediumslateblue;
    text-align: center;
}

.columnResult{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

/*Partie traitement des contenus sonores*/

/*MUSIQUE*/
#greedyMusicField{
    background-color: darkslateblue;
    border: mediumslateblue;
    border-radius: 15px;
    margin-top: 35px;
    width: 12cm;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas:
            ". . actionMusic . ."
            ". idMusicL idMusic . ."
            ". recommendationMomentL recommendationMoment . ."
            ". titreMusicL titreMusic . ."
            ". interMusicL interMusic . ."
            ". yearMusicL yearMusic . ."
            ". genreMusicL genreMusic . ."
            ". lengthMusicL lengthMusic . ."
            ". . validateMusic . .";
}

#actionMusic{
    grid-area: actionMusic;
}

#idMusicL{
    grid-area: idMusicL;
}

#idMusic{
    text-align: center;
    grid-area: idMusic;
}

#titreMusicL{
    grid-area: titreMusicL;
}

#titreMusic{
    grid-area: titreMusic;
}

#interMusicL{
    grid-area: interMusicL;
}

#interMusic{
    grid-area: interMusic;
}

#yearMusicL{
    grid-area: yearMusicL;
}

#yearMusic{
    grid-area: yearMusic;
}

#genreMusicL{
    grid-area: genreMusicL;
}

#genreMusic{
    grid-area: genreMusic;
}

#lengthMusicL{
    grid-area: lengthMusicL;
}

#lengthMusic{
    grid-area: lengthMusic;
}

#recommendationMomentL{
    grid-area: recommendationMomentL;
}

#recommendationMoment{
    grid-area: recommendationMoment;
}

#validateMusic{
    border: 2px solid slateblue;
    border-radius: 15px;
    background-color: darkslateblue;
    color: aliceblue;
    height: 1cm;
    margin-bottom: 15px;
    grid-area: validateMusic;
}

.buttonLayoutCatalogue{
    border: 2px solid slateblue;
    border-radius: 15px;
    background-color: darkslateblue;
    color: aliceblue;
    height: 1cm;
    margin-bottom: 15px;
}

/*meta greedy traitement*/

#MetaDiv{
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". formPage .";
}

#formPage{
    grid-area: formPage;
}

/*RADIO*/

#greedyRadioField{
    background-color: darkslateblue;
    border: mediumslateblue;
    border-radius: 15px;
    margin-top: 35px;
    width: 12cm;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas:
            ". . actionRadio . ."
            ". idRadioL idRadio . ."
            ". recommendationMomentRadioL recommendationMomentRadio . ."
            ". nomRadioL nomRadio . ."
            ". genreRadioL genreRadio . ."
            ". . validateRadio . .";

}

#actionRadio{
    grid-area: actionRadio;
}

#idRadioL{
    grid-area: idRadioL;
}

#idRadio{
    grid-area: idRadio;
}

#recommendationMomentRadio{
    grid-area: recommendationMomentRadio;
}

#recommendationMomentRadioL{
    grid-area: recommendationMomentRadioL;
}

#nomRadioL{
    grid-area: nomRadioL;
}

#nomRadio{
    grid-area: nomRadio;
}

#genreRadio{
    grid-area: genreRadio;
}

#genreRadioL{
    grid-area: genreRadioL;
}

#validateRadio{
    grid-area: validateRadio;
}