.gridyModal{
    display: grid;
    grid-template-columns: 3fr 2fr 5fr 4fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: ". . SignUpModal . close"
                        ". formSignIn formSignIn statusMsg statusMsg";
}

#formSignIn{
    grid-area: formSignIn;
}

#statusMsg{
    grid-area: statusMsg;
    font-size: 10px;
    /*margin-left: 25px;*/
}

.decalageMsgStatus{
    margin-left: 60px;
}

.gridyFields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "labelMail mailA"
                        "labelPwd Pwd"
                        ". validate";
    grid-gap: 40px;
}

#mailAddressLabel{
    grid-area: labelMail;
    width: max-content;
}

#mailPasswordLabel{
    grid-area: labelPwd;
    width: max-content;
}

.labelStyle{
    background-color: darkslateblue;
    border: slateblue;
    border-radius: 5px;
    color: aliceblue;
    height: 0.7cm;
}

#mailAddress{
    grid-area: mailA;
}

#password{
    grid-area: Pwd;
}

#SignUpModal{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    grid-area: SignUpModal;
}


.modal{
    background-color: rgba(0,0,0,0.5); /*fond sombre avec opacité*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    /*display: none;*/  /*par defaut n'est pas affiché*/
    z-index: 2;
}

.modalHidden{
    display: none;
}

.modalNotHidden{
    display: block;
}

.modal-content{
    background-color: slateblue;
    margin: 15% auto; /*15% du haut de la page, centré*/
    border-radius: 15px;

    border: 5px solid mediumslateblue;
    width: 19.8cm;
    top: 0%;
    left: 30%;
    position: absolute;
    z-index: 2;

}

.modal-header{
    font-size: 50px;
    font-weight: bold;
    z-index: 2;

}

/*Bouton fermeture*/
.close{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    z-index: 2;
    grid-area: close;
    text-align: center;
}

.close:hover,
.close:focus{
    color: black;
    cursor: pointer;
}

#validate{
    border: darkslateblue;
    border-radius: 15px;
    background-color: darkslateblue;
    color: aliceblue;
    grid-area: validate;
    height: 1cm;
    margin-bottom: 15px;
}

/*Message de status*/
.statusMsgLayout{
    background-color: lightgray;
    border: 2px solid slategray;
    border-radius: 15px;
    text-align: center;
    vertical-align: center;
    height: 0.65cm;
    width: 5cm;
    margin-bottom: 15px;
    line-height: 25px;
    color: crimson;
}

.statusMsgLayoutHidden{
    height: 0.65cm;
    width: 5cm;
    margin-bottom: 15px;
    line-height: 25px;
}