#gridyResultatRecherche,#gridyRecommendedVideos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-template-areas: "vidRec1 vidRec2 vidRec3"
                         "titleRec1 titleRec2 titleRec3"
                         "nbViewsRec1 nbViewsRec2 nbViewsRec3"
                         "yearRec1 yearRec2 yearRec3";
    z-index: auto;

}
.aside {
    min-width: 23%;
    float: left;
    background: #696969;
    border-radius: 5px;

}
.Recherche{
    padding-left: 25%;

}

.section {
    width: 73%;
    padding-left: 1%;
    padding-right: 1%;
    float: right;
}
.playlist{
    border-radius: 5px 5px 5px 5px;
    min-width: 100%;
    padding: 3px;

    background: #696969;
    color: white;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;

    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    font-weight:bold;

}
.playlist:hover{
    background: #4d4646;
}
.sub-list{
    border-style:none;

    font-weight: normal;

}
.in-button{
    margin: 0px;
    padding-left:20px;
    border-top: 1px solid #696969
}

.sectionPl{
    width: 100%;
    background: #696969;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 3%;
    border-radius: 5px;
    border: 5px solid gray;
    margin-bottom: 150px;
    min-width: min-content;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-column-gap: 30px;
}
.aside-right {
    width: 100%;
    border: 5px solid gray;
    padding-left: 1%;
    padding-right: 1%;
    float: right;

}
.valider{
    border: darkslateblue;
    border-radius: 15px;
    background-color: darkslateblue;
    color: aliceblue;
    grid-area: validate;
    height: 1cm;
    margin-bottom: 15px;
}
.validerR{
    border: #8B3D3D;
    border-radius: 15px;
    background-color: #8B3D3D;
    color: aliceblue;
    grid-area: validate;
    height: 1cm;
    margin-bottom: 15px;
}
#mynouvplay{
    width: 100%;
}