
.aside {
    min-width: 23%;
    float: left;
    background: #696969;
    border-radius: 5px;

}
.Recherche{
    padding-left: 25%;

}

.section {
    width: 73%;
    padding-left: 1%;
    padding-right: 1%;
    float: right;
}
.playlist{
    border-radius: 5px 5px 5px 5px;
    min-width: 100%;
    padding: 3px;

    background: #696969;
    color: white;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;

    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    font-weight:bold;

}
.playlist:hover{
    background: #4d4646;
}
.sub-list{
    border-style:none;

    font-weight: normal;

}
.in-button{
    margin: 0px;

    border-top: 1px solid #696969
}



