/*1er greedy*/

.gridyHeaderInscription{
    display: grid;
    grid-template-columns: 9fr 1fr 9fr;
    grid-template-areas: "title inscriptionTitle .";
    grid-row-gap: 50px;
}

#title{
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: title;
}

#inscriptionTitle{
    grid-area: inscriptionTitle;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*2eme gridy*/
.gridyInscriptionForm{
    background-color: darkslateblue;
    border: mediumslateblue;
    border-radius: 15px;
    margin-top: 35px;
    width: 12cm;

    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas:". . . ."
                        ". nomL nom ."
                        ". prenomL prenom ."
                        ". civiliteL civilite ."
                        ". dateNaissanceL dateNaissance ."
                        ". mailL mail checkMail"
                        ". passwordL password checkMdp1"
                        ". confirm_passwordL confirm_password checkMdp2"
                        ". adresseFacturationL adresseFacturation ."
                        ". styleMusiqueL styleMusique ."
                        ". . validateIns .";
}


.labelStyle{
    background-color: darkslateblue;
    border: 2px solid slateblue;

    border-radius: 5px;
    color: aliceblue;
    height: 0.7cm;
}


/*Bouton de validation*/
#validateInscription{
    border: 2px solid slateblue;
    border-radius: 15px;
    background-color: darkslateblue;
    color: aliceblue;
    height: 1cm;
    margin-bottom: 15px;
    grid-area: validateIns;
}

/*Bouton de validation après désactivation*/
#validateInscriptionDisabled{
    border: 2px solid darkgrey;
    border-radius: 15px;
    background-color: dimgrey;
    color: aliceblue;
    height: 1cm;
    margin-bottom: 15px;
    grid-area: validateIns;
}


/*Champs d'inscription*/
#nom{
    grid-area: nom;
}

#prenom{
    grid-area: prenom;
}

#civilite{
    grid-area: civilite;
}

#dateNaissance{
    grid-area: dateNaissance;
}

#mail{
    grid-area: mail;
}

#password{
    grid-area: password;
}

#confirmPassword{
    grid-area: confirm_password;
}

#adresseFacturation{
    grid-area: adresseFacturation;
}

/*Label d'inscription*/

#nomL{
    grid-area: nomL;
}

#prenomL{
    grid-area: prenomL;
}

#civiliteL{
    grid-area: civiliteL;
}

#dateNaissanceL{
    grid-area: dateNaissanceL;
}

#mailL{
    grid-area: mailL;
}

#passwordL{
    grid-area: passwordL;
}

#confirmPasswordL{
    grid-area: confirm_passwordL;
}

#adresseFacturationL{
    grid-area: adresseFacturationL;
}

#styleMusiqueL{
    grid-area: styleMusiqueL;
}

#styleMusique{
    grid-area: styleMusique;
}

/*3eme gridy*/
.gridyBody{
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
            "statusFieldsLeft inscription statusFieldsRight"
            ". successSignUp .";
}

#inscription{
    grid-area: inscription;
}


/*4eme et 5eme gridy*/
#statusFieldsRight{
    grid-area: statusFieldsRight;
}

.gridyStatusFieldsRight{
    display: grid;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-right: 160px;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
            "."
            "."
            "."
            "."
            "ageStatus"
            "mailStatus"
            "mdpStatus"
            "confirmMdpStatus"
            "."
            ".";
    width: 7.5cm;
}


.statusMsgLayout{
    font-size: 15px;
    background-color: lightgray;
    border: 2px solid slategray;
    border-radius: 15px;
    text-align: center;
    vertical-align: center;
    height: 0.65cm;
    width: 7cm;
    margin-bottom: 15px;
    line-height: 25px;
    color: crimson;
}

.statusMsgLayoutHidden{
    height: 0.65cm;
    width: 7cm;
    margin-bottom: 15px;
    line-height: 25px;
}

#mailStatus{
    grid-area: mailStatus;
}

#mdpStatus{
    grid-area: mdpStatus;
}

#confirmMdpStatus{
    grid-area: confirmMdpStatus;
}

#ageStatus{
    grid-area: ageStatus;
}

/*Côté gauche*/
#statusFieldsLeft{
    grid-area: statusFieldsLeft;
}

.gridyStatusFieldsLeft{
    display: grid;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 150px;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
            "."
            "."
            "."
            "."
            "."
            "mailAlreadyTaken"
            "mdpStrengthStatus"
            "mdpStrengthStatus"
            "mdpStrengthStatus"
            ".";
    width: 7.5cm;
}

#mdpStrengthStatus{
    grid-area: mdpStrengthStatus;
    height: 3.3cm;
    white-space: pre-line;
}

#mailAlreadyTaken{
    grid-area: mailAlreadyTaken;
}

/*Vérifiation des données entrées dans le même bloc que les inputs*/
#checkMdp1{
    grid-area: checkMdp1;
}

#checkMdp2{
    grid-area: checkMdp2;
}

#checkMail{
    grid-area: checkMail;
}

.wrongCross{
    color: red;
    font-weight: bold;
    width: 1cm;
    text-align: center;
}

.goodCross{
    color: limegreen;
    font-weight: bold;
    width: 1cm;
    text-align: center;
}

#successSignUp{
    background-color: darkslateblue;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    border-radius: 50px;
    text-align: center;
    grid-area: successSignUp;
    line-height: 50px;
}

.gridyProfilTitle{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "title inscriptionTitle LogOut"
                        "title . .";
    grid-column-gap: 15px;
    z-index: auto;
}